* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.app-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #581313;
    border-radius: 4px;
}

button {
    padding: 10px;
    color: white;
    background-color: #737c86;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #677483;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li p{
    display: flex;
    justify-content: space-between;
    gap:0.3em;
}
li button {
    background-color: #32485f;
    border-radius: 4px;
    padding: 5px 10px ;
    color: white;
}